<MudDialog>
    <DialogContent>
        <h1>Unsaved Changes</h1>
        <p>"You are currently editing another Tasting. The changes will be lost. Do you want to proceed?"</p>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code
{
    [CascadingParameter] MudDialogInstance dialog { get; set; }
    
    private void Submit() => dialog.Close(DialogResult.Ok(true));
    private void Cancel() => dialog.Cancel();
}