
@page "/admin/brewery"
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IBeertastingRepository _db

<h1>Beer</h1>

<h4>All breweries</h4>
@if (breweries is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th align="center">Website</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brewery in breweries.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@brewery.Name</td>
                    <td>@brewery.Country</td>
                    @if(!string.IsNullOrEmpty(brewery.Website))
                    {
                        <td align="center"><a href=@brewery.Website target="_blank"><span class="oi oi-external-link"/></a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
	private List<BreweryModel> breweries = new List<BreweryModel>();

	protected override async Task OnInitializedAsync()
	{
		breweries = await _db.GetBreweries();
	}
}
