
@page "/admin/beer/edit/{Id:int}"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IBeertastingRepository _db

<h1>Beer</h1>

@if (beer is null)
{
	<p><em>Loading...</em></p>
}
else
{
    <h4>Edit @beer.Name</h4>

@*	<table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>ABV %</th>
                <th>Ratebeer</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var beer in beers.OrderBy(x => x.Name))
            {
                <tr>
                    <td>@beer.Name</td>
                    <td>@beer.ABV%</td>
                    @if(!string.IsNullOrEmpty(beer.RateBeerLink))
                    {
                        <td>
                            <div class="btn btn-outline-primary">
                                <a href=@beer.RateBeerLink target="_blank">
                                    <span class="oi oi-external-link"/>
                                </a>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        <div class="btn btn-outline-warning" @onclick="() => clickme(beer)"><span class="oi oi-wrench"/></div>
                        <div class="btn btn-outline-danger"><span class="oi oi-delete"/></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
}

@code {
    [Parameter]
    public int Id { get; set; }

    
    private BeerModel? beer;

	protected override async Task OnInitializedAsync()
	{
        beer = await _db.GetBeer(Id);
    }
}
