<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <h1>So sad...</h1>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>